@charset "UTF-8";
/*
thêm đường dẫn của các file scss con vào file .css (này) bằng @import
 * Các file phải import theo thứ tự nhất định
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

p {
  margin-bottom: 0px;
}

.closeBar, .openBar {
  position: absolute;
  top: 8%;
  left: 5%;
  transform: translateY(-50%);
  font-size: 20px;
  cursor: pointer;
}

.none {
  display: none;
}

.btn_navbar {
  position: relative;
  z-index: 10;
  width: 20%;
  display: none;
}

.changeBar {
  transform: translate(2%, 16%);
  display: none;
}

/*
chứa các variables (biến) chung khai báo
*/
/*-------- Backroung ---------*/
/*----- boder  ----*/
/*--------  Text -----*/
/*
chứa các variables (biến) chung khai báo
*/
/*-------- Backroung ---------*/
/*----- boder  ----*/
/*--------  Text -----*/
.header {
  height: 50px;
}
.header .header-top {
  background-color: #000;
  padding-top: 10px;
  padding-bottom: 8px;
}
.header .header-top .container .select-list .shop-cart {
  margin-right: 19.82px;
}
.header .header-top .container .select-list .shop-cart button {
  background-color: black;
}
.header .header-top .container .select-list .shop-cart button a i {
  color: #fff;
}
.header .header-top .container .select-list .login {
  margin-right: 20px;
}
.header .header-top .container .select-list .login a {
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  line-height: 19.36px;
}
.header .header-top .container .select-list .register a {
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  line-height: 19.36px;
}
@media screen and (max-width: 576px) {
  .header .header-bottom .container .btn_navbar {
    display: block;
    margin-top: 20px;
    margin-left: 8px;
  }
}
.header .header-bottom .container .nav-list .menu-list {
  padding-left: 0;
  padding-top: 16px;
  height: 50px;
}
@media screen and (max-width: 576px) {
  .header .header-bottom .container .nav-list .menu-list {
    transform: translate(2%, 26%);
    flex-direction: column;
    padding-top: 0;
  }
}
.header .header-bottom .container .nav-list .menu-list li {
  margin-right: 25px;
  position: relative;
}
@media screen and (max-width: 576px) {
  .header .header-bottom .container .nav-list .menu-list li {
    margin-bottom: 10px;
  }
}
.header .header-bottom .container .nav-list .menu-list li a {
  font-size: 20px;
  font-weight: 400;
  color: #000;
  line-height: 24.2px;
}
.header .header-bottom .container .nav-list .menu-list li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #000;
  left: 0;
  bottom: -4px;
  transition: 0.5s;
}
.header .header-bottom .container .nav-list .menu-list li a:hover::after {
  width: 100%;
}
.header .header-bottom .container .nav-list .menu-list li:nth-child(2) a {
  font-weight: 300;
  color: #4d4d4d;
}
.header .header-bottom .container .nav-list .menu-list li:nth-child(3) a {
  font-weight: 300;
  color: #4d4d4d;
}

.carousel-mine {
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  height: 530px;
}
@media screen and (max-width: 768px) {
  .carousel-mine {
    height: 800px;
  }
}
.carousel-mine .container .carousel {
  margin-top: 107px;
  height: 393px;
}
@media screen and (max-width: 768px) {
  .carousel-mine .container .carousel {
    padding-bottom: 645px;
  }
}
.carousel-mine .container .carousel .carousel-indicators [data-bs-target] {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-left: 23px;
  margin-right: 17px;
  color: rgba(0, 0, 0, 0.13);
  border: 1px solid rgba(0, 0, 0, 0.13);
}
.carousel-mine .container .carousel .carousel-inner .carousel-item {
  margin-top: 5px;
  margin-left: 86px;
  height: 392px;
  width: 821px;
  transition: 1s;
}
@media screen and (max-width: 768px) {
  .carousel-mine .container .carousel .carousel-inner .carousel-item {
    width: 560px;
    height: 470px;
  }
}
@media screen and (max-width: 576px) {
  .carousel-mine .container .carousel .carousel-inner .carousel-item {
    width: 440px;
    height: 410px;
    margin-top: 0px;
    margin-left: 15vw;
  }
}
.carousel-mine .container .carousel .carousel-inner .carousel-item img {
  width: 100%;
  transform: translate(-3%, -27%);
}
@media screen and (max-width: 768px) {
  .carousel-mine .container .carousel .carousel-inner .carousel-item img {
    transform: translate(4%, -27%);
  }
}
@media screen and (max-width: 768px) {
  .carousel-mine .container .carousel .carousel-inner .carousel-item img {
    width: 97%;
    transform: translate(4%, -15%);
  }
}
.carousel-mine .container .carousel .carousel-inner .carousel-item .carousel-caption {
  transform: translate(252%, -160%);
  width: 291px;
  text-align: start;
  height: 151px;
}
@media screen and (max-width: 768px) {
  .carousel-mine .container .carousel .carousel-inner .carousel-item .carousel-caption {
    transform: translate(0, 35%);
    height: 70%;
  }
}
.carousel-mine .container .carousel .carousel-inner .carousel-item .carousel-caption h2 {
  font-size: 40px;
  font-weight: 300;
  color: #4d4d4d;
  line-height: 48.41px;
  margin-top: 17px;
  margin-bottom: 0;
}
.carousel-mine .container .carousel .carousel-inner .carousel-item .carousel-caption p {
  font-size: 20px;
  font-weight: 300;
  color: #4d4d4d;
  line-height: 24.2px;
  height: 51px;
}
.carousel-mine .container .carousel .carousel-inner .carousel-item button {
  font-size: 20px;
  font-weight: 300;
  color: #fff;
  background: #F8B653;
  border: 1px solid #F8B653;
  border-radius: 0px;
  padding: 13px 35px 13px 34px;
  cursor: pointer;
}
.carousel-mine .container .carousel .carousel-inner .carousel-item button:hover {
  animation: ani9 0.4s ease-in-out infinite alternate;
}
.carousel-mine .container .carousel .carousel-inner .carousel-control-prev,
.carousel-mine .container .carousel .carousel-inner .carousel-control-next {
  height: 66.13px;
  width: 45.71px;
  top: 20%;
}
.carousel-mine .container .carousel .carousel-inner .carousel-control-prev .carousel-control-prev-icon,
.carousel-mine .container .carousel .carousel-inner .carousel-control-prev .carousel-control-next-icon,
.carousel-mine .container .carousel .carousel-inner .carousel-control-next .carousel-control-prev-icon,
.carousel-mine .container .carousel .carousel-inner .carousel-control-next .carousel-control-next-icon {
  background-image: url(../../../assets/img/Polygon-prev.png);
  opacity: 1;
  width: 100%;
  height: 100%;
  color: rgba(0, 0, 0, 0.24);
  border: rgba(0, 0, 0, 0.24);
}
.carousel-mine .container .carousel .carousel-inner .carousel-control-next .carousel-control-next-icon {
  background-image: url(../../../assets/img/Polygon-next.png);
}

.products {
  margin-top: 30px;
  height: 1044px;
}
.products .container h1 {
  font-size: 40px;
  font-weight: 400;
  color: #000;
  line-height: 48.41px;
  margin: 16px auto;
  text-align: center;
}
.products .container .products_item .card {
  background: rgb(248, 248, 248);
  border: none;
  margin-bottom: 47px;
  height: 369px;
  width: 340px;
}
.products .container .products_item .card img {
  margin-top: 45px;
  margin-left: 57px;
  width: 220px;
  height: 156px;
}
@media screen and (max-width: 767.98px) {
  .products .container .products_item .card img {
    margin-left: 26vw;
  }
}
@media screen and (max-width: 575.98px) {
  .products .container .products_item .card img {
    margin-left: 22vw;
  }
}
@media screen and (max-width: 991.98px) {
  .products .container .products_item .card {
    width: 400px;
    margin: 0 0 9vw 3vw;
  }
}
@media screen and (max-width: 767.98px) {
  .products .container .products_item .card {
    width: 632px;
    margin: 0 0 11vw 6vw;
  }
}
@media screen and (max-width: 575.98px) {
  .products .container .products_item .card {
    width: 470px;
    margin: 0 0 11vw 5.5vw;
  }
}
.products .container .products_item .card .card-body {
  padding: 0;
}
.products .container .products_item .card .card-body .card-title {
  font-size: 24px;
  font-weight: 300;
  color: #000;
  line-height: 29.05px;
  height: 29px;
  padding-left: 23px;
}
.products .container .products_item .card .card-body .card-text {
  font-size: 20px;
  font-weight: 300;
  color: rgb(203, 201, 201);
  line-height: 24.2px;
  height: 84px;
  padding-left: 23px;
}
.products .container .products_item .card .card-footer {
  border: none;
  padding: 0;
  background-color: rgb(222, 221, 220);
}
.products .container .products_item .card .card-footer .buy-now {
  display: inline-block;
  width: 175px;
  height: 64px;
  background-color: rgb(225, 176, 103);
  padding: 17px 27px 18px 39px;
}
@media screen and (max-width: 991.98px) {
  .products .container .products_item .card .card-footer .buy-now {
    width: 230px;
    padding-left: 70px;
  }
}
@media screen and (max-width: 767.98px) {
  .products .container .products_item .card .card-footer .buy-now {
    width: 360px;
    padding-left: 136px;
  }
}
@media screen and (max-width: 575.98px) {
  .products .container .products_item .card .card-footer .buy-now {
    width: 270px;
    padding-left: 92px;
  }
}
.products .container .products_item .card .card-footer .buy-now a {
  font-size: 24px;
  font-weight: 200;
  color: #000;
  line-height: 29.05px;
}
.products .container .products_item .card .card-footer .buy-now a:hover {
  font-weight: 700;
  transition: 0.5s;
}
.products .container .products_item .card .card-footer .price {
  display: inline-block;
  width: 160px;
  height: 64px;
  background-color: rgb(222, 221, 220);
  font-size: 24px;
  font-weight: 600;
  color: #000;
  line-height: 29.05px;
  padding: 17px 8px 18px 66px;
  text-align: left;
}

@keyframes ani9 {
  0% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(5px);
  }
}